 body {
    background-color: rgba(0, 0, 0, 0.26);
    text-align: center;
}
main {
    max-width: 80vw;
    margin:0 auto;
    padding:1vh;
    border: solid rgba(255, 109, 109, 0.514) 2px;
}

.container-0 {
    min-height: 350px;
    margin: 1vh;
    padding:1vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: solid rgba(251, 255, 0, 0.397) 2px;
}

a:-webkit-any-link {
    height: 5vh;
    margin: 1vh;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 500px;
    border: solid rgba(0, 0, 0, 0.514) 2px;
    box-shadow: 2px 2px 2px rgba(255, 109, 109, 0.514);
    
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:-webkit-any-link:hover {
    height: 6vh;
    background-color:rgba(0, 0, 0, 0.514);
    box-shadow: 5px 5px 5px rgba(255, 109, 109, 0.514);
}

.no-border {
    border:none;
}

.no-min-height {
min-height: 100px;
}

span {
    padding:1vh;
    border: solid rgba(255, 109, 109, 0.514) 2px;
}


.radius, span {
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}