 body {
    background-color: rgba(0, 0, 0, 0.26);
}

.container-0 {
    border: solid rgba(251, 255, 0, 0.397) 2px;
    margin: 1vh;
    display: flex;
    align-items: center;
}

.container-1 {
    border: solid rgba(0, 0, 0, 0.514) 2px;
    margin: 1vh;
    display:flex; 
    justify-content: center;
}

.one {
    flex-shrink: 1;
}
.two {
    flex-shrink: 2;
}
.three {
    flex-shrink: 3;
}

.min-width {
    min-width: 200px;
}
.flex-basis {
    flex-basis: 200px;
}

p {
    padding: 1vh;
    border: solid rgba(255, 109, 109, 0.514) 2px;
}

.radius, p {
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}